
<!--
<div class="logo-wrapper">
  <%= image_tag 'logo.png', :size => '60x60', :class => 'logo' %>
</div>


<div class="email-optin col-xs-10 col-xs-offset 1 col-md-8 col-md-offset-2">
<i class="em em-wave"></i>Bienvenidos.   <form class="newsletter">
    <input class="box" type="email" value="" placeholder="Empeza por escribir tu email..." />
    <input class="button-form" type="submit" value="Suscribirme a Talleres" />
</form>
</div>
-->

    <video autoplay loop muted poster="screenshot.jpg" id="background">
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
    </video>
 
<div class="container">
 
<div class="row">
 
<div class="col-md-12">
 
<h1>El ultimo partido de Talleres</h1>
 
            </div>
 
        </div>
 
    </div>

