<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/logo.png">
      </a>
    </div>
  </div>
</nav>


<h1>Fecha 3: Talleres vs. Patronato</h1>
  <br/>
<h2>Mantuvo el plan del DT Kudelka. Los cambios fueron estratégicos, asomó su poder de gol y la defensa creció.</h2>
  <br/>
<img src="http://staticmd1.lavozdelinterior.com.ar/sites/default/files/styles/landscape_642_366/public/nota_periodistica/talleres_343.jpg">
  <br/>
<p>
Talleres salió por la forma. Un circuito de juego incompleto, jugadores clave rumbo a su plenitud y la falta de puntería habían situado al equipo de Frank Kudelka cerca de una cornisa futbolera, a poco de iniciar el campeonato. El plan, el de ser protagonista, no se iba a negociar. Pero era necesaria e imperiosa su evolución. Los cambios que propuso el DT solamente fueron estratégicos, al resto lo hicieron los jugadores.
</p>
<p>
La exposición fue mayor y el desafío del ida y vuelta con los rivales obligaba a una exigencia grande. Ambos actos futbolísticos, el de atacar y el de defenderse. Hacia arriba, las pausas debían ser pocas y la profundidad, mayor. Esa relación necesitaba de un administrador y el reto fue para Emanuel Reynoso. Que fuera tan talentoso y cerebral cuando arrancaba como ordenado a la hora de integrar el sistema de recuperación.
</p>
<p>
También necesitaba de los definidores: aparecieron en escena Jonathan Menéndez y Carlos Muñoz Rojas y se le ratificó la confianza a Sebastián Palacios ya que la referencia de área dejó de ser opción inicial mientras que la de ganar por las bandas para llegar tocando al área rival, la principal.
</p>
<p>
Lo que conservó siempre fue la capacidad de recuperación. Con Pablo Guiñazú (con funciones de DT adentro de la cancha) y Leonardo Gil (dedicado a marcar y no perdido cerca del área), Talleres podría sostener cualquier cambio de estrategia. Más atrás, también hubo una respuesta favorable y trascendente. 
</p>
<p>
Defender a equipos con "rapiditos" como San Martín, Defensa y Vélez tenía su complejidad. Los resultados llegaron, pero la táctica se mantuvo. Lo más cómodo y práctico hubiera sido mantener el planteo de local y cambiarlo (ser menos agresivo), fuera de casa, pero se mantuvo las formas. 
</p>
<p>
Llegaron los goles, Talleres supo administrar la ventaja (se puso en ventaja ante San Martín de San Juan, Defensa y Vélez y, luego, los aseguró con nuevas conversiones) y cerró su valla (el 1-3 del verdinegro fue el último gol que le hicieron a Guido Herrera hace 276 minutos). Hubo mo­mentos de “zozobra”, pero pocos en relación a los buenos. 
</p>
<p>
¿Más? También supo ser un equipo con paciencia ante Patronato. Dispuso del campo y de la pelota, pero recién armó el circuito de juego en el complemento. No estuvo el lesionado Jonathan Menéndez, pero le bastó con el gol de Palacios.
</p>
<p>
Talleres estaba en Primera, pero debía demostrarlo. 
</p>
<p>
La evolución fue posible porque el técnico volvió a contemplar tiempos y lugares para que cada jugador ofrezca lo mejor. Además, también pasó por momentos en los que no podía ­cumplir sus objetivos de juego al no disponer de jugadores clave (por lesión o por rendimientos) y los superó con las opciones que tenía. 
</p>
<p>
Le pasó en el Federal A y en la B, pero en Primera División no iba a ser un trámite. Había pocos que tenían experiencia inmediata de Primera. Para ellos necesitó de la confianza de los jugadores (se mantuvo el “juega el que mejor está”) y de su convencimiento respectivo (Reynoso hizo jugar a Talleres). Ni más, ni menos.
</p>

<br />

<div class="email-cta">
  <h4>Queres más analisis como estos?</h4>
  <p>Y muchas noticias más. Deja tu mail abajo y registrate.</p>
</div>

