@import "bootstrap-sprockets";
@import "bootstrap"; 

$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Roboto', sans-serif;

$primary-color: #081b6a;
$secondary-color: #000;

body { 
  padding-top: 70px; 
}

.logo-block {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.site-logo {
  line-height: 30px;
  font-family: $primary-font;
  font-weight: 700;

  &:hover {
    color: black;
  }
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default {
  border: none;
  border-radius: 0;
  background: $primary-color;
  line-height: 30px;
  margin-bottom: 0px;
}

.navbar-brand {
  padding: 10px 20px 20px 20px;
}

.article-title {
  margin-top: 30px;
}


.article-image {
  width: 100%;
  margin-top: -20px;
}

h1 { 
  font-family: $primary-font;
  font-size: 55px;
  text-align: center;
  font-weight: 700;
}

h1.header--landing {
  margin-top: 300px;
  text-align: left;
  font-size: 60px;
}

h2 {
  font-family: $secondary-font;
  font-size: 24px;
  text-align: center;
  color: #9fa3a8;
}

.fecha {
  font-family: $secondary-font;
  font-size: 14px;
  text-align: center;
  color: #e5e5e5;
}

p {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 20px;
}

p.intro--landing {
  color: white;
  font-size: 18px;
  font-family: $secondary-font;
}

.email-cta {
  margin-top: 30px;
  margin-bottom: 50px;
}

h4 {
  font-family: $primary-font;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  color: $primary-color;

}

.email-cta {
  background-color: #e5e5e5;
  padding: 30px;
}

.email-cta-text {
  font-family: $secondary-font;
  font-size: 18px;
  text-align: center;
  color: #000;
}

.footer-links {
  font-size: 16px;
}

.footer-links a {
  padding-right: 20px;
  font-size: 18px;

  &:hover {
    font-size: 20px;
    text-decoration: none;
  }
}

#twitter {
  color: #1da1fd;
}

#github {
  color: #3b5998;
}

#medium {
  color: #4dc247;
}


.newsletter:not( .newsletter--active ) input[type='submit']
{
    display: none;
}

.box {
  height: 45px;
  width: 65%;
  border: 0px solid #9fa3a8;
  color: #9fa3a8;
  padding-left: 10px;
}

.button-form {
  height: 45px;
  background-color: $primary-color;
  border: 0px;
  border-radius: 2px;
  color: white;
  font-family: $primary-font; 
}

.nav-info-link {
  color: rgba(89, 120, 243, 0.4);
  cursor: default;
}

.navbar-default .navbar-nav > li > a {
  color: white;

  &:hover {
    color: white;
    cursor: default;
  }
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.video-container .overlay:before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: #000;
    opacity: 0.9;
}

.container h1 {
    color: white;
}

a.primary-button--landing {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    background-color: $primary-color;
}

.ghost-button {
  display: inline-block;
  padding: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1px;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: white;
  background: none;
  font-family: $secondary-font;
  font-size: 15px;
  font-weight: 600;

  &:hover {
    background-color: $primary-color;
    border: 0px;
  }
}


  .ghost-button:active {
    background-color: $primary-color;
    border: 0px;
  }

    .ghost-button:focus {
    background-color: $primary-color;
    border: 0px;
  }

